<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="description" content="基于webpack的前端工程化开发解决方案探索">
    <title>自定义模板标题</title>


    <link rel="shortcut icon" href="../bd_logo1.png">
</head>
<body>
<div id="app">
    <div>
        <p v-for="list in lists">{{list}}</p>
    </div>
    <app></app>
    <search></search>


</div>
<script type="text/javascript" src="../../dist/js/main.js"></script>
<script type="text/javascript" src="../../dist/js/index.js"></script>
</body>
</html>