<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>多个组件的过渡</title>
</head>
<body>
<style>
    .component-fade-enter-active,.component-fade-leave-active{
        transition: opacity .3s ease;
    }
    .component-fade-enter,.component-fade-leave-active{
        opacity: 0;
    }
</style>
<div id="app">
    <transition name="component-fade" mode="out-in">
        <component :is="view" :items="items"></component>
    </transition>

    <label for="CA">A
        <input type="radio" v-model="view" value="v-a" id="CA">
    </label>
    <label for="CB">B
        <input type="radio" v-model="view" value="v-b" id="CB">
    </label>
</div>

</body>
<script src="../../lib/vue2.1.3.js"></script>
<script>
new Vue({
    el: "#app",
    data: {
        view: "v-a",
        items: [11,22,33,44]
    },
    components: {
        "v-a": {
            template: '<div>component A        <span v-for="item in items">{{item}} &nbsp;</span></div>',
            props: ["items"]
        },
        "v-b":{
            template: "<div>component B</div>"
        }

    }
})
</script>
</html>