<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>数组更新检测</title>
</head>
<body>
<div id="app">
    <ul>
        <li v-for="(index,list) in lists">
            <p v-for="user in list">{{user}}</p>
            <button @click="event_splice(index)">splice删除</button>

        </li>
    </ul>

    <p>下面是即将重组的数组</p>
    <ul>
        <li v-for="someone in user">{{someone}}</li>
    </ul>

    <button @click="event_push">push</button>
    <button @click="event_pop">pop</button>
    <button @click="event_shift">shift</button>
    <button @click="event_unshift">unshift</button>
    <button @click="event_sort">sort</button>
    <button @click="event_reverse">reverse</button>
    <button @click="event_splice_page">splice批量</button>

    <button @click="event_filter">filter</button>
    <button @click="event_concat">concat</button>
    <button @click="event_slice">slice</button>

    <button @click="event_set">Vue.set(xx.items,indexOfItem,newValue)</button>
    <button @click="event_newLength">xx.items.splice(newLength)</button>
</div>
</body>
<script src="../lib/vue2.1.3.js"></script>
<script>
    /*http://cn.vuejs.org/v2/guide/list.html#注意事项*/
    /**
     * Vue 实现了一些智能启发式方法来最大化 DOM 元素重用，所以用一个含有相同元素的数组去替换原来的数组是非常高效的操作
     * 变异方法：
     * Vue 包含一组观察数组的变异方法，所以它们也将会触发视图更新。这些方法如下：
     *
     push() 可向数组的末尾添加一个或多个元素,并返回新的数组长度length。原数组长度变化（其实跟返回值所显示的数组长度一样的）
     pop() 用于删除数组的最后一个元素并返回删除的元素。原数组长度变化（-1）
     shift() 用于把数组的第一个元素从其中删除,并返回第一个元素的值。原数组长度变化（-1）
     unshift() 可向数组的开头添加一个或更多元素，并返回新的数组长度。原数组长度变化（其实跟返回值所显示的数组长度一样的）
     splice()可以用于插入、删除或替换数组的元素。用于删除返回的是所删除的元素，原数组长度变化
     sort()对数组排序，不开辟新的内存，对原有数组元素进行调换。返回重组后的数组
     reverse() 用于颠倒数组中元素的顺序。返回颠倒后的数组
     * */

    new Vue({
        el: "#app",
        data: {
            seq: 0,
            user: ["name","age","sex"],
            lists: [
                {
                    name: "fan",
                    age: 12,
                    sex: "male"
                } ,{
                    name: "hong",
                    age: 25,
                    sex: "famale"
                } ,{
                    name: "huai",
                    age: 22,
                    sex: "male"
                }
            ]
        },
        methods: {
            event_push: function() {
                this.lists.push({
                    name: "push",
                    age: 13,
                    sex: "male"
                });
            },
            event_pop: function() {
                this.lists.pop();
            },
            event_splice: function(v) {
                this.lists.splice(v,1);//删除index 为v的元素
                /**
                 * arr.splice(2,3,"aa");//删除从index 为 2（包括2）开始的3个元素，并添加一个新元素"aa"来替换被删除的元素
                 * arr.splice(2,1,"aa");//删除位于index为2的元素，并添加一个新元素来替换被删除的元素。其实与上面是一样的，只不过这里是删除一个元素，上面是删除一个或多个，主要看第二个参数是多少
                 * arr.splice(2,0,"aa");//在index为2的地方插入新元素 aa
                 * */
            },
            event_sort: function() {
                this.user.sort();
            },
            event_reverse: function() {
                console.log(this.user.reverse());
            },
            event_shift: function() {
                this.lists.shift();
            },
            event_unshift: function() {
                this.lists.unshift({
                    name: "hong2",
                    age: 12,
                    sex: "famale"
                } ,{
                    name: "huai3",
                    age: 13,
                    sex: "male"
                });

            },
            event_splice_page: function() {
                var newArr = {
                    name: "huai_new",
                    age: this.seq++,
                    sex: "male"
                }
                this.lists.splice(this.lists.length,0,newArr);
            },
            event_filter: function(){
                this.user = this.user.filter(function(i) {
                    console.log(i);
                    return i.match(/ag/g);
                })
            },
            event_concat: function(){//concat可以组合普通数组，也可以组合数组对象
                var newArr = ["character","height"];
                var c = this.user.concat(newArr);
                this.lists = this.lists.concat({
                    name: "hong2",
                    age: 12,
                    sex: "famale"
                } ,{
                    name: "huai3",
                    age: 13,
                    sex: "male"
                });
                console.log(this.lists.length);//5
                console.log(this.lists);// this.lists重新被concat生成的副本数组（即组装后生成的新数组）赋值
                console.log(this.user);//原数组不变
                console.log(this.user.length);//原数组的长度也不变
            },
            event_slice: function() {
                var c = this.user.slice(0,2);//[0,2),包括第一个参数的元素，但不包括第二个参数的元素
                console.log(c);//["name", "age"]
                console.log(this.user);
            },
            event_set: function() {//改变对应索引的数据,同时更新视图数据
                var newValue = "newName";
                var indexOfItem = 0;
                Vue.set(this.user,indexOfItem,newValue);//改变对应索引的数据
                this.user.splice(indexOfItem,1,newValue);//改变视图数据
                console.log(this.user[0]);//newName
            },
            event_newLength: function() {//改变数组长度
                this.user.splice(2);;//this.user原数组为["name","age","sex"]
                console.log(this.user);//["name","age"]
                console.log(this.user.length);//2
            }
        }
    })
    /**
     * 重塑数组-即非变异方法
     * 这些不会改变原始数组，但总是返回一个新数组。当使用非变异方法时，可以用新数组替换旧数组：
     *filter(),
     * concat()用于连接两个或多个数组。 该方法不会改变现有的数组,而仅仅会返回被连接数组的一个副本,即新数组
     * slice(start,end) 方法返回一个新的数组，包含从 start 到 end （不包括该元素）的 arrayObject 中的元素。
     * */
</script>
</html>