<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>on-click</title>
</head>
<body>
<div id="app">
    <my-component v-on:click.native="doTheThing"></my-component>
    <p>
        <input type="text" v-model="count">
        <input type="text" v-on:input="count=$event.target.value" v-bind:value="count">
        <input type="text" v-bind:value="count" v-on:input="count = arguments[0]">
        {{count}}
    </p>

    <p>点击事件:{{count}}
        <button @click="count ++">增加1</button>
        <span @click="getCount($event)">点我查看count</span>
    </p>
    <ol>
        <li v-for="(list,index) in lists">{{list.name}}
            <button @click="deleteIt(index)">删除</button>
        </li>
    </ol>
    <input v-on:keyup.13="submit" v-model="model.text" type="text">

    <div>
        <label for="r1">
            <input id="r1" value="item1" type="radio" v-model="ifradio"/>
            选项卡1
        </label>
        <label for="r2">
            <input id="r2" value="item2" type="radio" v-model="ifradio"/>
            选项卡2
        </label>

        <p>结果：{{ifradio}}</p>
    </div>

    <div>

    </div>
    <input type="checkbox" value="jack" v-model="model.who"/>
    <input type="checkbox" value="john" v-model="model.who"/>
    <input type="checkbox" value="awey" v-model="model.who"/>
{{model.who}}
    --------------------------------
    <br/>
    <input type="checkbox" v-model="ss" true-value="a" false-value="b"/>
    {{ss}}

</div>
<template id="J_component">
    <button @click="doTheThing($event)">触发组件，测试绑定原生事件</button>
</template>
</body>
<script src="../lib/vue2.1.3.js"></script>
<script>
    /***
     * 疑惑：1.怎么使用原生事件
     * 需要在内联语句处理器中访问原生 DOM 事件。可以用特殊变量 $event 把它传入方法
     * 2.怎么给组件绑定原生事件会给提示：vue.js:1023 [Vue warn]: v-on:click="doTheThing" expects a function value, got undefined
     *<my-component v-on:click.native="doTheThing"></my-component>
     * 3.<input type="text" v-bind:value="count" v-on:input="count = arguments[0]">
     *报错 VM1156:3 Uncaught TypeError: Cannot read property '0' of undefined(…)
     * */
    Vue.component("my-component",{
        template: "#J_component",
        methods: {
            doTheThing: function(e) {
                console.log(e.target);
                console.log(e.target.innerHTML);//"触发组件，测试绑定原生事件"
                alert(1)
            }
        }
    })
    var vm = new Vue({
        el: "#app",
        data: {
            count: 0,
            lists: [{
                name: "hong",
                age: 12
            }, {
                name: "huai",
                age: 14
            }, {
                name: "fan",
                age: 15
            }],
            model: {
                text: "test data",
                ifradio: true,
                who: []
            },
            ifradio: "item2",
            ss: true,//存在问题
            toggle: "b"
        },
        methods: {
            deleteIt: function (i) {
                this.lists.splice(i, 1);
            },
            submit: function () {
                console.log("提交数据:");
                console.log(this.model.text);
                console.log(this.model);
            },
            getCount: function (e) {//需要在内联语句处理器中访问原生 DOM 事件。可以用特殊变量 $event 把它传入方法
                console.log(e);
                // `this` 在方法里指当前 Vue 实例
                alert('Hello ' + this.count + '!')
                // `event` 是原生 DOM 事件
                console.log(e.target.tagName);//SPN

                console.log(this.model.who)
            }
        }
    })
</script>
</html>