<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>input输入框</title>
</head>
<body>
<div id="app">
    <input type="text" v-bind:value="name" v-on:input="name=$event.target.value">
    <!--<input type="text" v-model="name">-->
    <a @click="getVal">触发</a>
</div>
</body>
<script src="../lib/vue2.1.3.js"></script>
<script>
    /**
     * v-bind:value="name" 改语句将name值赋予输入框
     *v-on:input="name=$event.target.value" 将变化过后的值赋予输入框
     * 上面两个综合起来的效果相当于v-model="name"
     * */
new Vue({
    el: "#app",
    data: {
        name: "hon"
    },
    methods: {
        getVal: function() {
            console.log(this.name);

        }
    }
})
</script>
</html>