<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>todo-v2与is属性</title>
</head>
<body>
<div id="app">
    <input type="text" placeholder="please add one's name" v-model="name" @keyup.enter="add">
    <ul>
        <li is="my-nameList" v-for="(people,index) in mainData" :who="people" v-on:remove="toRemove(index)"></li>
    </ul>
</div>
<template id="J_name">
    <li>
        {{who.name}}
        <button v-on:click="removeFunc">x</button>
    </li>
</template>
</body>
<script src="../lib/vue2.1.3.js"></script>
<script>
    /**
     * 疑惑：下面介绍的三种情况，是否也要用is属性？
     * 应当注意，如果您使用来自以下来源之一的字符串模板，这些限制将不适用：

     <script type="text/x-template">
     JavaScript内联模版字符串
     .vue 组件
     因此，有必要的话请使用字符串模版
     * */
    Vue.component("myNameList",{
        template: "#J_name",
        props: ["who"],
        methods: {
            removeFunc: function(v){
                console.log(v)
                this.$emit("remove");
            }
        }
    })
new Vue({
    el: "#app",
    data: {
        name: "",
        mainData: [
            {
                name: "fan"
            },
            {
                name: "hong"
            },
            {
                name: "huai"
            }
        ]
    },
    methods: {
        toRemove: function(v) {
            console.log(v);
            this.mainData.splice(v,1);
        },
        add: function() {
            this.mainData.push({
                name: this.name
            });
            this.name = "";
        }
    }
})
</script>
</html>