<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>render函数改写前后对比</title>
</head>
<body>
<div id="app">
    <anchored-heading :level="1">Hello world!</anchored-heading>
    <anchored-heading :level="2">Hello world!</anchored-heading>

    <my-render :level="1">Hello my render</my-render>
</div>
<script type="text/x-template" id="anchored-heading-template">
    <div>
        <h1 v-if="level === 1">
            <slot></slot>
        </h1>
        <h2 v-if="level === 2">
            <slot></slot>
        </h2>
        <h3 v-if="level === 3">
            <slot></slot>
        </h3>
        <h4 v-if="level === 4">
            <slot></slot>
        </h4>
        <h5 v-if="level === 5">
            <slot></slot>
        </h5>
        <h6 v-if="level === 6">
            <slot></slot>
        </h6>
    </div>
</script>
</body>
<script src="../../lib/vue2.1.3.js"></script>
<script>
    Vue.component('anchored-heading', {
        template: '#anchored-heading-template',
        props: {
            level: {
                type: Number,
                required: true
            }
        }
    })
    Vue.component("my-render",{
        render: function(createElement) {
            return createElement(
                    'h' + this.level,//tag name标签名字  第一个参数必须return 这String | Object | Function的其中之一
                    this.$slots.default//子组件中的阵列
            )
        },
        props: {
            level: {
                type: Number,
                required: true
            }
        }
    })
    new Vue({
        el: "#app"
    })
</script>
</html>