<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>多个组件共享一个挂载点</title>
</head>
<body>
<div id="app">
    <ul>
        <li is="my-list" v-for="list in lists" :list="list"></li>
    </ul>

    <keep-alive>
        <component :is="currentView"></component>
    </keep-alive>

    <input type="text" v-model="currentView">{{currentView}}
    <button @click="choose('home')">home</button>
    <button @click="choose('posts')">posts</button>
    <button @click="choose('archive')">archive</button>
</div>
<template id="J_list">
    <p>{{list}}</p>
</template>
<template id="J_home">
    <p>is my home content.</p>
</template>
<template id="J_posts">
    <p>is my posts content.</p>
</template>
<template id="J_archive">
    <p>is my archive content.</p>
</template>
</body>
<script src="../lib/vue2.1.3.js"></script>
<script>
    /**
     * 多个组件可以使用同一个挂载点，然后动态地在它们之间切换。使用保留的 <component> 元素，动态地绑定到它的 is 特性
     * <component :is="currentView"></component>
     *
     * 如果把切换出去的组件保留在内存中，可以保留它的状态或避免重新渲染。为此可以添加一个 keep-alive 指令参数
     * <keep-alive> 包裹动态组件时，会缓存不活动的组件实例，而不是销毁它们
     *
     *  <keep-alive>
     <component :is="currentView"></component>
     </keep-alive>
     * */
new Vue({
    el: "#app",
    data: {
        lists: ["年轻","热情","活力"],
        currentView: "home"
    },
    methods: {
        choose: function(v) {
            this.currentView = v;
        }
    },
    components: {
        "my-list": {
            template: "#J_list",
            props: ["list"]
        },
        home: {
            template: "#J_home"
        },
        posts: {
            template: "#J_posts"

        },
        archive: {
            template: "#J_archive"

        }

    }
})
</script>
</html>