<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>v-if和v-show</title>
</head>
<body>
<div id="app">
    <ol>
        <li>……</li>
        <li v-if="changeif.isName">{{name}}</li>
        <li v-if="changeif.isAge">{{age}}</li>
        <li v-if="changeif.isSex">{{sex}}</li>
    </ol>
    <button @click="changeIf">触发v-if</button>

    <br/>
    <br/>

    <ol>
        <li>……</li>
        <li v-show="changeshow.isName">{{name}}</li>
        <li v-show="isAge">{{age}}</li>
        <li v-show="isSex">{{sex}}</li>
    </ol>
    <button @click="changeShow">触发v-show</button>

    <template v-if="isOks">
        <ol>
            <li>x1</li>
            <li>x2</li>
            <li>x3</li>
        </ol>
    </template>
    <button @click="changeIsok">触发v-if的template</button>

    <br/>
    <br/>

    <div v-if="isOk">good morning</div>
    <div v-else>good afternoon</div>
</div>
</body>
<script src="../lib/vue.js"></script>
<script>
    /**
     * v-if有更高的切换消耗而v-show有更高的初始渲染消耗，频繁切换用v-show，条件稳定用v-if
     * */
new Vue({
    el: "#app",
    data: {
        name: "honghuai",
        age: 12,
        sex: "男",
        changeif: {
            isName: true,//v-if为true则显示，反之为false则隐藏 dom节点实则不出现
            isAge: false
        },
        changeshow:{
            isName: true,//v-show为true则显示，反之为false则隐藏 dom节点实则display:none
            isAge: false
        },
        isSex: false,
        isAge: false,
        isOks: false,

        isOk: false

    },
    methods: {
        changeIf:function() {
            this.changeif.isName = false;
            this.changeif.isAge = true;
        },
        changeShow: function() {
            console.log("change v-show");
            this.changeShow.isName = !this.changeShow.isName;//此处设置无效
            this.isSex = !this.isSex;
            this.isAge = true;
        },
        changeIsok: function() {
            this.isOks = true;
        }
    }
})
</script>
</html>