<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>demo-vue-table</title>
    <link rel="stylesheet" href="../lib/bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="../css/search.css">
    <script src="../lib/jquery-1.11.3.min.js"></script>
    <script src="../lib/bootstrap/bootstrap.min.js"></script>
</head>
<body>
<div class="wrap" id="app">
    <search :searchmsg.sync="searchmsg"></search>
    <main-table :titledata="titledata" :maindata="maindata" :searchmsg="searchmsg" :show.sync='show' :persons.sync="persons"></main-table>
    <create :show.sync="show"></create>
    <dialog :createdata="createdata" :maindata="maindata" :show.sync="show" :persons.sync="persons"></dialog>
</div>
<template id="J_search">
    <div class="input-group input-group-lg">
        <input type="text" class="form-control" placeholder="关键字" aria-decribedby="sizing-addon1" v-model="searchmsg">
        <span class="input-group-addon" id="sizing-addon1">搜索</span>
    </div>
</template>
<template id="J_table">
    <table class="table table-hover table-bordered table-striped">
        <thead>
        <tr>
            <th v-for="col in titledata">{{col}}</th>
        </tr>
        </thead>
        <tbody>
        <tr v-for="(index,lists) in maindata |filterBy searchmsg">
            <td v-for="list in lists">{{list}}</td>
            <td class="handle">
                <button class="btn btn-danger" @click="deletePerson(index)">删除</button>
                <!-- <button class="btn btn-warning" @click='modify(index)'>修改</button> -->
            </td>
        </tr>
        </tbody>
    </table>
</template>

<template id="J_create">
    <button class="btn btn-success" @click="create">CREATE</button>
</template>

<template id="J_dialog">
    <div class="alldialogs" :class="{'dialog-active': show}">
        <div class="dialogbg" @click="close">

        </div>
        <div class="dialogs">
            <h3>新建</h3>
            <div class="input-group input-group-lg">
                <span class="input-group-addon">姓名</span>
                <input type="text" class="form-control" placeholder="{{createdata.name}}" v-model="name">
            </div>
            <div class="input-group input-group-lg">
                <span class="input-group-addon">年龄</span>
                <input type="text" class="form-control" placeholder="{{createdata.age}}" v-model="age">
            </div>
            <div class="input-group input-group-lg">
                <span class="input-group-addon">性别</span>
                <select name="" id="" class="form-control dropdown-menu" v-model="sex">
                    <option v-for="sex in createdata.sex">{{sex}}</option>
                </select>
            </div>
            <button class="btn btn-success dialognew" @click="save">保存</button>
            <button class="btn btn-success dialognew" @click="close">关闭</button>
        </div>

    </div>
</template>
</body>
<script src="../lib/vue.js"></script>
<script>
    Vue.component("search",{
        template: "#J_search",
        props: ["searchmsg"]
    })
    Vue.component("main-table", {
        template: "#J_table",
        props: ["titledata", "maindata", "searchmsg", "show", "persons"],
        methods: {
            deletePerson: function (index, person) {
                console.log(index);
                console.log(person);
                this.maindata.splice(index, 1);
            }
        }
    })
    Vue.component("create",{
        template: "#J_create",
        props: ["show"],
        methods: {
            create: function() {
                this.show = false;
                console.log("你是在新建")
            }
        }
    })

    Vue.component("dialog",{
        template:"#J_dialog",
        props:['createdata','maindata','show',"persons"],
        data:function(){
            return {
                name:this.persons.name,
                age:this.persons.age,
                sex:this.persons.sex
            }
        },
        methods:{
            save:function(){
                this.persons.all.name=this.name;
                this.persons.all.age=this.age;
                this.persons.all.sex=this.sex;
                console.log(this.persons.all)
                if(this.persons.all.name&&this.persons.all.age&&this.persons.all.sex){
                    this.maindata.push(this.persons.all);
                    this.persons.all={};
                    this.show=true;
                }
            },
            close:function(){
                this.show=true
            }

        }
    })
    new Vue({
        el: "#app",
        data: {
            searchmsg: "",
            show: true,
            persons:{
                name:'',
                age:'',
                sex:'',
                all:{}
            },
            titledata:['姓名',"年龄","性别","操作"],
            maindata: [{
                "name": "张三",
                "age": 12,
                "sex": "male"
            }, {
                "name": "李四",
                "age": 11,
                "sex": "female"
            }],
            createdata: {
                name: "this is name",
                age: "this is age",
                sex: ["male","female"]
            }
        }
    })
</script>
</html>