<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>组件todo-v1</title>
</head>
<body>
<div id="app">
    <input type="text" v-model="who" @keyup.enter="add">
    <mytable :person="person"></mytable>
</div>
<template id="J_mytable">
<ul v-for="people in person">
    <li>{{people.name}}</li>
    <li>{{people.age}}</li>
    <li>{{people.sex}}</li>
    <button @click="remove($index)">删除</button>
</ul>
</template>
</body>
<script src="../lib/vue.js"></script>
<script>
    Vue.component("mytable",{
        template: "#J_mytable",
        props: ["person"],
        methods: {
            remove: function(v) {
                console.log(v);
                this.person.splice(v,1);
            }
        }
    })
new Vue({
    el: "#app",
    data: {
        who: "",
        person:[
            {
                name: "fan",
                age: 12,
                sex: "male"
            },{
                name: "hong",
                age: 11,
                sex: "female"
            },{
                name: "huai",
                age: 22,
                sex: "male"
            }
        ]
    },
    methods: {
        add: function() {
            this.person.push({
                name: this.who,
                age: 000,
                sex: "male"
            })
        }
    }
})
</script>
</html>