<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>v-for</title>
</head>
<style>
    #app>p{
        font-weight: bold;
    }
</style>
<body>
<div id="app">
    <p>1.纯粹的v-for="user in obj"</p>
    <ul>
        <li v-for="user in obj">
            <p>
                姓名：{{user.name}}
            </p>
            <p>
                年龄：{{user.age}}
            </p>
        </li>
    </ul>
    <p>纯粹的v-for="user of obj"</p>

    <ul>
        <li v-for="user of obj">
            <p>
                姓名：{{user.name}}
            </p>
            <p>
                年龄：{{user.age}}
            </p>
        </li>
    </ul>

    <p>2.在v-for里使用$index表示从0开始的序号</p>
    <ul>
        <li v-for="user in obj">
            <p>{{$index}}-{{user.age}}
                <!--姓名：{{value}}-->
            </p>
            <p>
                <!--年龄：{{value}}-->
            </p>
            <button @click="deleteIt(user)">删除</button>
        </li>
    </ul>
    <p>3.直接使用数字遍历 v-for="n in 4"</p>
    <div>
        <span v-for="n in 4">{{n}}</span>
    </div>
    <p>4.使用额外参数v-for="(index,item) in items" 如果items为数组类型，则index为序号，item表示某条目；如果为对象则index参数表示的是key键，item表示值，即键值对。（此处的index/item参数顺序与官网的不一致，实验证明官网是错的http://cn.vuejs.org/v2/guide/list.html#v-for）</p>
    <ul>
        <li v-for="(index,user) in obj">
            {{index}}-{{user.name}}的年龄是{{user.age}}
        </li>
    </ul>


    <p>5.对象迭代v-for</p>
    <ul>
        <li v-for="(key,value) in someone">{{$index}}键：{{key}} 值：{{value}}</li>
    </ul>
    <ul>
        <li v-for="value in even(arr)">
            {{value}}
        </li>
    </ul>

</div>
</body>
<script src="../lib/vue.js"></script>
<script>
    /**
     * 疑惑：v-for中如果是三个参数，实验第三个参数是value值，那么前两个参数表示什么
     * */
new Vue({
    el: "#app",
    data: {
        obj: [{
            name: "honghuai",
            age: 12
        },{
            name: "fan",
            age: 11
        }],
        someone: {
            name: "honghuai",
            age: 12,
            sex: "male"
        },
        arr: [11,22,33,44,55]
    },
    methods: {
        deleteIt: function(x) {
            console.log(x);//怎么获取渲染的整行数据
        },
        even: function(number) {
            return number.filter(function(num) {
                return num % 2 === 0;
            })
        }
    }
})
</script>
</html>