.content{width:800px;margin:50px auto;}
.table{margin-top:30px;margin-bottom:30px;}
.btn-warning{margin-left:30px;}
.handle{width:160px;}
.dialogbg{content: "";position: fixed;top: 0;left: 0;right: 0;bottom: 0;z-index: 1000;opacity: 0;background: rgba(0, 0, 0, 0.5);opacity: 1}
.dialogs{position: absolute;z-index:9999;width:400px;top:0;left:0;top:30%;left:30%;border-radius: 6px;background-color: #fff;padding:0 40px;}
.dropdown-toggle{height: 46px}
.dialogs div{margin:10px 0;}
.dialognew{margin-bottom:20px;display:inline-block;margin-left:70px;margin-top:10px;}
.dialog-active{display:none;}

.wrap{
    width: 900px;
    margin:10px auto;
}