<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>子组件怎么拿父组件的数据</title>
</head>
<body>
<div id="app">
    <p>{{giveData.a}}</p>
    <child-component :msg="giveData" :info="giveInfo" @changeIt2="change" :error="errorInfo"></child-component>
</div>
<template id="J_child">
    <div class="child">
        <button @click="changeIt">触发</button>
        <p>{{msg.a}}</p>
        <p>这是子组件另外起的b去获取父组件中的this.infomation:{{infomation}}</p>
        <p>这是info：{{info}}</p>
        <p>{{error}}</p>
    </div>
</template>
</body>
<script src="../../lib/vue2.1.3.js"></script>
<script>
    new Vue({
        el: '#app',
        data: {
            giveData: {
                a: 'this is msg'
            },
            giveInfo: 'this is info.',
            errorInfo: 'error msg.'
        },
        components: {
            'child-component' : {
                template: '#J_child',
                props: ['msg','info','error'],
                data(){
                    return {
                        infomation: ''
                    }
                },
                mounted() {
                    this.infomation = this.info;
                },
                methods: {
                    changeIt: function() {
                        this.infomation = "子组件专属";//成功.通过mounted中转变量，单向绑定，不影响父组件原来的值
                        this.msg.a = "changed...";//成功.父组件每次传一个对象给子组件，对象之间引用，实现双向绑定
                        this.error = "changed...";//报错 不允许直接给父级的数据，做赋值操作
//                        this.info = 1231;
//                        this.$emit('changeit2');
                    }
                }
            }
        },
        methods: {
            change: function(){
                this.giveData.a = 'parent的a';
            }
        }
    })
</script>
</html>