<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>单向数据流</title>
</head>
<body>
<div id="app">
    <single-component :initial-counter="initCount" :initial-name="initName"></single-component>
</div>
<template id="J_single">
    <div>
        <p>
            初始化数值：父组件的{{initialCounter}}-在子组件作为本地数据的初始值使用{{initcount}}
        </p>
        <p>
            初始化数值：父组件的{{initialName}}-在子组件作为本地数据的初始值使用{{initname}}
        </p>
        <button @click="changeIt">触发</button>
    </div>
</template>
</body>
<script src="../../lib/vue2.1.3.js"></script>
<script>
    Vue.component("single-component", {
        template: "#J_single",
        props: ["initialCounter","initialName","initname"],
        data: function(){//1.prop 作为初始值传入，子组件之后只是将它的初始值作为本地数据的初始值使用的时候：定义一个局部 data 属性
            return {
                initcount: this.initialCounter
            }
        },
        methods: {
            changeIt: function() {
                this.initcount ++;
            }
        },
        computed: {//2.prop 作为需要被转变的原始值传入的时候：定义一个 computed 属性，此属性从 prop 的值计算得出。
            initname: function() {
                console.log(this.initialName);
                return this.initialName;
            }
        }
    })
    new Vue({
        el: "#app",
        data: {
            initCount: 2,
            initName: 1//"abcABC"
        }
    })
</script>
</html>