<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>可复用组件的编写</title>
</head>
<body>
<div id="app">

    <my-component ref="myprofile" :msg="msg"></my-component>
    <async-example></async-example>

    <unique-name-of-my-component></unique-name-of-my-component>
</div>
<template id="J_component">
    <div>
        <p>{{msg}}</p>

        <p>{{info}}</p>

    </div>
</template>

<template id="J_diguiComponent">
    <div v-if="seq<3">
        <stack-overflow>xxx</stack-overflow>
    </div>
</template>
</body>
<script src="../../lib/vue2.1.3.js"></script>
<script>
    /**
     * 1.Vue组件的API来自三部分：props/events/slot
     * props允许外部环境传递数据给组件
     * events允许组件触发外部环境的副作用  -疑惑
     * slot允许外部环境将额外的内容组合到组件中
     *
     * v-bind的缩写是  :  如 v-bind:value缩写为:value
     * v-on的缩写是  @  如键盘回车键时间   v-on:keyup.13 缩写为  @keyup.13
     *
     * 2.子组件索引-访问子组件：
     * $refs 只在组件渲染完成后才填充，并且它是非响应式的。它仅仅作为一个直接访问子组件的应急方案——应当避免在模版或计算属性中使用 $refs 。
     *     parent.$refs.myprofile
     *3.异步组件
     * 工厂函数接收一个 resolve 回调，在收到从服务器下载的组件定义时调用。也可以调用 reject(reason) 指示加载失败。如下面的async-example
     * 疑惑：若    <async-example></async-example>标签上面的组件标签不用</my-component>，而是仅仅使用<my-component ref="myprofile" :msg="msg" />就会导致async-exapmle组件load不出数据
     *
     * 4.递归组件
     * unique-name-of-my-component组件会导致一个错误 “max stack size exceeded” ，所以要确保递归调用有终止条件 (比如递归调用时使用 v-if 并让他最终返回 false )
     * */
    Vue.component("async-example",function(resolve,reject) {
        setTimeout(function() {
            resolve({
                template: "<div>this is my async!</div>"
            })
        },1000)
    })

    Vue.component("unique-name-of-my-component",{//vue2.1.3.js:2893 Uncaught RangeError: Maximum call stack size exceeded(…)
        name: "stack-overflow",
        template: '#J_diguiComponent',
//        template: '<div><stack-overflow>xxx</stack-overflow></div>',
        data: function() {
            return {
                seq: 9//如果这里的seq不满足上述子组件模板的条件即seq<3，那么就不会进入递归
            }
        }
    })
    var parent = new Vue({
        el: "#app",
        data: {
            msg: "this is my message"
        },
        components: {
            "my-component": {
                template: "#J_component",
                props: ["msg"],
                data: function () {
                    return {
                        info: "this is children info."

                    }
                }
            }
        }
    })
    console.log(parent.$refs.myprofile);
    console.log(parent.$refs.myprofile.info);//this is children info.
    console.log(parent.$refs.myprofile.msg);//this is my message



</script>
</html>